
  @use "./variables" as *;
  @use "./mixin" as *;

   .blur {
      opacity: 0.1;
      pointer-events: none;
      user-select: none;
    }

    .hidden {
      display: none;
    }

    .visible {
      display: inherit!important;
    }