
  @use "./variables" as *;
  @use "./mixin" as *;

   .blur {
      opacity: 0.1;
      pointer-events: none;
      user-select: none;
    }

    .no-scroll {
      overflow: hidden;
    }

    .hidden {
      display: none;
    }

    .height-reset {
      height: auto;
    }

    .visible {
      display: inherit;
    }