@use "../global/variables" as *;

.swiper {
  width: 100%;
  overflow: unset;

  @media (min-width: 768px) {
    margin-left: 0;
  }

  &__logoplace {
    display: block;
    width: 56%;
    height: 105%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
  }

  &__title {
    position: relative;
    left: -16px;
    width: 100vw;
    max-width: 1110px;

    margin: 0;
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    white-space: nowrap;
    text-transform: uppercase;
    color: $menu-link-color;
    text-shadow: 0 4px 4px $text-shadow-color;
    background-image: linear-gradient(90deg, $background-color 0%, $white 100%);

    @media (min-width: 768px) {
      left: -24px;
    }
  }

  &__title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    height: 1px;
    width: 100%;
    background-color: $blue-line;
  }

  &-wrapper {
    padding-top: 20px;
    height: 86px;

    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 24px;
      row-gap: 16px;
      height: auto;
      margin-bottom: 24px;
    }

    @media (min-width: 1440px) {
      column-gap: 32px;
    }
  }

  &__gradient-block {
    position: absolute;
    z-index: 10;
    top: 72px;
    right: -16px;

    display: block;
    width: 24px;
    height: -webkit-fill-available;
    background-image: linear-gradient(
      to left,
      $background-color 0.04%,
      $transparent 100%
    );

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__topics {
    display: none;
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 2.9fr 0.9fr 1fr 144px;
      width: inherit;
      margin-bottom: 16px;
      padding-left: 24px;
    }
  }

  &-slide {
    justify-content: space-between;

    box-sizing: border-box;
    border: 1px solid $partition-color;
    border-radius: 6px;
    padding: 17px 17px 16px 16px;
    height: 72px;
    background-color: $white;

    @media (min-width: 768px) {
      width: 224px;
    }
  }

  &-wrapper--technics,
  &-wrapper--services {
    height: 184px;
    @media (min-width: 768px) {
      height: auto;
    }
  }

  &-wrapper--services {
    gap: 0;
  }

  &-slide--size {
    flex-direction: column;
    height: 160px;
  }

  &-slide__services {
    display: flex;
    align-items: flex-end;
    justify-content: normal;
    height: 160px;
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 144px;
      align-items: baseline;
      width: inherit;
      height: 64px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 3fr 1fr 1fr;
      gap: 0;
    }
  }

  &__item {
    display: inline-block;
  }

  &__topic {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: $menu-link-color;
    opacity: 0.72;
    @media (min-width: 768px) {
      display: none;
    }
  }

  &__topic ~ span {
    display: inline-block;
    width: 120%;

    font-family: $font-stack;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.01em;
    color: $main-title-color;
  }

  &-pagination {
    position: static;
    text-align: center;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__handler {
    position: relative;
    z-index: 10;

    display: none;
    padding-left: 33px;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $main-title-color;
    background-color: transparent;
    @media (min-width: 768px) {
      display: inline-block;
    }
  }

  &__handler::after {
    content: "";

    position: absolute;
    top: 7px;
    left: 6px;
    height: 12px;
    width: 11px;
    background-color: transparent;
    background-image: url("/images/arrows-down.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
