html {
    box-sizing: border-box;
    }

*,
*::before,
*::after {
box-sizing: inherit;
}

ul {
margin: 0;
padding: 0;
list-style: none;
}

a {
    text-decoration: none;
    color:black;
}

p {
margin:0;
}

h1 {
  margin:0;
}

.btn__reset {
  border:none;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

.btn {
  position: relative;
  width:40px;
  height:40px;
  background-color:#FF3E79;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: filter 0.3s ease-in-out;
}

.btn:hover,
.nav__link:hover {
    filter:brightness(3);
}

.btn:active,
.nav__link:active {
    filter:brightness(0.9);
}




.flex {
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    min-width:320px;
    font-family: 'TTLakes',sans-serif;
    font-weight: 400;
}

.container {
    max-width: 1120px;
    padding: 0 16px;
    margin: 0 auto;
    width: 100%;
}

/* Шапка */

.header {
  align-items: center;
  margin:0;
  padding-top: 2px;
  height: 88px;

}

.header__container {
  padding-left:16px;
  padding-right: 16px;
  justify-content: space-between;
}


.header__block,
.nav__list {
    gap: 16px;
    align-items: center;
}





.nav__link,.main__link {
  display: block;
  height: 40px;
  width:40px;
  transition: filter 0.3s ease-in-out;
}


.nav__link--request,
.main__link--request {
  background: transparent url(../svg/request.svg) no-repeat center center;

}

.nav__link--status,
.main__link--status {
  background: transparent url(../svg/status.svg) no-repeat center center;
}

.btn__burger {
  /* background-color: #FF3E79; */
  background: transparent url('../svg/burger.svg') no-repeat center center;
}

.text__btn {
  position:relative;
  margin-left: 15px;
  padding-left: 16px;
  width: unset;
  height: unset;
  background-color: transparent;
  }

.text__btn::before {
  content:"";
  position:absolute;
  left:-7px;
  top:6px;
  display: block;
  width:8px;
  height:11px;
  background: transparent url('../svg/arrows-down.svg') no-repeat center center;
}



.nav__item {
  position:relative;
}

.nav__item--hidden {
  display: none;
}


.btn--call {
    background: transparent url(../svg/call.svg) no-repeat center center;
}

.btn--message {
    background: transparent url(../svg/message.svg) no-repeat center center;
}

.btn--contacts {
  background: transparent url(../svg/contacts.svg) no-repeat center center;
}

.nav__item--request {
  position: relative;
}

.nav__item--request::after {
    content:"";
    position:absolute;
    top:10%;
    left:-22px;
    width:2px;
    height: 32px;
    background-color: #eaeaea;
}

/* main */

.main__wrapper {
    flex-direction: column;
    align-items: center;

    /* opacity: 0.1;
    pointer-events: none;
    user-select: none; */
    background-color: #f8f8f8;
}

.main__title {
  position: relative;
  display: block;
  margin: 0;
  margin-top: 24px;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 28px;
  line-height: 143%;
  letter-spacing: -0.02em;
  color: #1b1c21;
}

.main__title svg {
  position: absolute;
  left: -15px;
}



.main__search {
  justify-content: space-between;
  align-items: center;
}

.main__inner {
  display: none;
}


.main__link {
  align-items: center;
  gap: 8px;
}

.main__span {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  text-align: right;
}


.main__menu {
    margin: 0;
    margin-bottom: -3px;
    margin-left: -5px;
}

.menu__list {
    overflow-x:auto;
    padding:5px 0 5px 5px;
}


.menu__link {
    display: block;
    padding:5px 17px 7px 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #7e7e82;
    white-space: nowrap;
}

.menu__link:hover {
    outline: 2px solid #b8ffec;
    border-radius: 6px;
}


.menu__link:active {
    border:none;
}

.main__content {
  flex-direction: column;
  align-items: center;
}

.main__text {
  margin-bottom: 18.3px;
}


.text__inner {
  margin-top:11px;
  height: 106px;
  overflow: hidden;
  }

  .text__excerpt {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: 0.01em;
    color: #1b1c21;
  }

  .text__excerpt--top {
    margin-bottom: 17px;
  }



.main__image {
    width:320px;
    height: auto;
    margin-bottom: 35px;
}

/* aside */

.aside {
  position: absolute;
  top:0;
  z-index: 100;

  display: none;
  flex-direction: column;
  justify-content: space-between;


  height: 100vh;
  width:320px;
  margin: 0 auto 0 0;
  padding: 0 24px;
  background-color: #ffffff;
  box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2),
-2px 0 4px 0 rgba(69, 79, 126, 0.02);
}





/* aside__header */



.aside__header {
  padding-top:18.73px;
  padding-bottom:46.27px;
  justify-content: space-between;
  align-items: center;
}

.logoplace {
  margin-right: 60px;
}

.aside__btn {
  bottom:5px;
}

.aside__btn--cancellation {
  background-image: url("../svg/cancellation-small.svg");
}

.aside__btn--search {
background-image: url("../svg/search-small.svg");
}

/* main */

.main__list {
  flex-direction: column;
  gap:32px;
}


.main__item--active {
  position:relative;
}


.main__item--active::before {
  content:"";
  position:absolute;
  left:-24px;
  top:-5px;
  width:4px;
  height:32px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #41f6d7;
}


.main__link {
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #1b1c21;
}

.main__link--active {
  color: #7e7e82;
}

/* aside__footer */


.aside__btns-list {
  margin-bottom: 11px;
  gap:16px;
}

.aside__btn--phone {
    background-image: url("../svg/phone-small.svg");
}

.aside__btn--feedback {
    background-image: url("../svg/feedback-small.svg");
}

.aside__btn--contacts {
    background-image: url("../svg/contacts-small.svg");
}

.contacts {
  flex-direction: column;
  gap:12px;
}

.contacts__link--mail {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #1b1c21;
}

.contacts__link--phone {
font-weight: 700;
font-size: 24px;
line-height: 133%;
letter-spacing: -0.03em;
color: #1b1c21;
}


.aside__langs {
  margin-top:40px;
  padding-bottom: 32px;
}

.langs {
  gap:7px;
}

.langs__link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #1b1c21;
}

.langs__link--ru {
  color: #7e7e82;
}

/* свайпер */

.btn__swiper {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  outline: 2px solid #ff3e79;
  background-image: url('../svg/arrow.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
}



:root {
  --swiper-pagination-color: #b5b6bc;
  --swiper-pagination-bullet-inactive-color: #ddd;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-size:12px;
  --swiper-pagination-bullet-horizontal-gap:6px;
}
/* local */

.swiper {
  padding-left: 16px;
  width: 100%;
}

.swiper__title {
  position: relative;
  left: -24px;
  width: 100vw;

  margin:0;
  padding-top: 16px;
  padding-left:24px;
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  white-space: nowrap;
  text-transform: uppercase;
  color: #7e7e82;
  text-shadow: 0 4px 4px  rgba(0, 0, 0, 0.25);
  background-image:linear-gradient(90deg, #f8f8f8 0%, #fff 100%)
}

.swiper__title::before {
  content: "";
  position:absolute;
  top:0;
  left:0;

  display: block;
  height: 1px;
  width:100%;
  background-color: #d9fff5;
}

.swiper-wrapper {
  padding-top: 20px;
  height: 86px;
}

.swiper-wrapper--big-size {
  height: 184px;
}

.swiper__gradient-block {
  position:absolute;
  z-index: 10;
  top:72px;
  right:0;

  display: block;
  width:24px;
  height: -webkit-fill-available;
  background-image: linear-gradient(to left, #f8f8f8 0.04%, rgba(248, 248, 248, 0) 100%);
}


.swiper-slide {
  justify-content: space-between;

  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 17px 17px 16px 16px;
  height: 72px;
  background-color: #fff;
}

.swiper-slide--size {
  flex-direction: column;
  height: 160px;
}

.swiper-slide__services {
  align-items: flex-end;
  justify-content: normal;
  height: 160px;
}

.swiper__list {
  flex-direction: column;
  gap:16px;
}

.swiper__topic {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: #7e7e82;
  opacity: 0.72;
}

.swiper__topic ~ span {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.01em;
  color: #1b1c21;
}

.btn__swiper--technick {
  margin-left: auto;
}


.logoplace {
  display: block;
  width: 56%;
  height: 105%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}

.swiper-pagination {
  position:static;
  text-align: center;
}

.swiper__handler {
  position:relative;
  z-index: 10;

  display: none;
  padding-left: 33px;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #1b1c21;
  background-color: transparent;
}

.swiper__handler::after {
  content:"";

  position:absolute;
  top:7px;
  left:6px;
  height: 12px;
  width:11px;
  background-color: transparent;
  background-image: url('../svg/arrows-down.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

